<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Slide</th>
    <th>
    	<% if @write_right then %>
    	<div class="btn-toolbar">
		  <div class="btn-group">
	    	<a class="btn" href="#" onclick='$.post("<%= url_for :controller => "projectors", :action => "command"  %>", { "command[cmd]": "ident",	"authenticity_token" : "<%= form_authenticity_token %>"} );' title="Beamer identifizieren" >	<i class="icon-search"></i></a>
	    	<a class="btn" href="#" onclick='$.post("<%= url_for :controller => "projectors", :action => "command"  %>", { "command[cmd]": "reload","authenticity_token" : "<%= form_authenticity_token %>"} );' title="Alle Beamer neu starten" >	<i class="icon-repeat"></i></a>
	      </div>
	      <div class="btn-group">
	    	<a class="btn" href="#" onclick='ShowFlashMenu();'	title="Naricht posten">		<i class="icon-bullhorn"></i></a>
	    	<a class="btn" href="#" onclick='$.post("<%= url_for :controller => "projectors", :action => "command"  %>", { "command[cmd]": "flash", "authenticity_token" : "<%= form_authenticity_token %>"} );' title="Alle Narichten verstecken" >	<i class="icon-fullscreen"></i></a>
	      </div>
	    </div>
	    <% end %>
    </th>
  </tr>
  <tr id="flash" style="overflow: hidden;">
  	<td colspan="3" style="display: none;" id="flash-data">
  		<form  method="post" action="<%= url_for :controller => "projectors", :action => "command"  %>">
  			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    	 	<input type=hidden name="command[cmd]" value="flash" />
    	 	<input type=text name="command[text]" class="input-xxlarge"  placeholder="Nachricht"/><br />
    	 	<select name="command[time]">
				  <option value="30">30 Sekunden anzeigen</option>
				  <option value="60">1 Minuten anzeigen</option>
				  <option value="120">2 Minuten anzeigen</option>
				  <option value="180">3 Minuten anzeigen</option>
				  <option value="300">5 Minuten anzeigen</option>
				  <option value="0">Durchgängig anzeigen</option>
			</select><br />
				Als
				<button type=submit name="command[name]" value="danger" 		class="btn btn-danger">	Warung</button>
				<button type=submit name="command[name]" value="information"	class="btn btn-info">	Information</button>
				<button type=submit name="command[name]" value="success" 		class="btn btn-success">Hinweiß</button>
				anzeigen.
    	</form>
  	</td>
  </tr>

<% @projectors.each do |projector| %>
  <tr class="projector-data">
    <td><%= projector.name %></td>
    <td><%= projector.slide.name rescue "-NONE-" %></td>
    <td>
    	<div class="btn-toolbar">
		  <div class="btn-group">
		  	<% if @write_right then %>
		 	<a class="btn" href="<%= url_for edit_projector_path(projector) %>"	title="Beamer bearbeiten">						<i class="icon-wrench"></i></a>
		 	<% end %>
		 	<a class="btn" href="<%= url_for projector %>" target="_blank"		title="Beameransicht">							<i class="icon-eye-open"></i></a>
		  </div>
		  <% if @write_right then %>
		  <div class="btn-group">
		    <a class="btn" href="#" onclick='$.post("<%= url_for projector %>", { "command[cmd]": "scroll-up",	"authenticity_token" : "<%= form_authenticity_token %>"} );' title="Nach untern scrollen">	<i class="icon-chevron-down"></i></a>
		    <a class="btn" href="#" onclick='$.post("<%= url_for projector %>", { "command[cmd]": "scroll-null","authenticity_token" : "<%= form_authenticity_token %>"} );' title="Auf normal scrollen">	<i class="icon-minus"></i></a>
		    <a class="btn" href="#" onclick='$.post("<%= url_for projector %>", { "command[cmd]": "scroll-down","authenticity_token" : "<%= form_authenticity_token %>"} );' title="Nach oben scrollen">	<i class="icon-chevron-up"></i></a>
		  </div>
		  <div class="btn-group">
		    <a class="btn" href="#" onclick='$.post("<%= url_for projector %>", { "command[cmd]": "zoom-in",	"authenticity_token" : "<%= form_authenticity_token %>"} );' title="Vergrößern">	<i class="icon-zoom-in"></i></a>
		    <a class="btn" href="#" onclick='$.post("<%= url_for projector %>", { "command[cmd]": "zoom-reset",	"authenticity_token" : "<%= form_authenticity_token %>"} );' title="Normale Größe">	<i class="icon-search"></i></a>
		    <a class="btn" href="#" onclick='$.post("<%= url_for projector %>", { "command[cmd]": "zoom-out",	"authenticity_token" : "<%= form_authenticity_token %>"} );' title="Verkleinern">	<i class="icon-zoom-out"></i></a>
		  </div>
		  <div class="btn-group">
		    <a class="btn" href="#" onclick='$.post("<%= url_for projector %>", { "command[cmd]": "reload",		"authenticity_token" : "<%= form_authenticity_token %>"} );' title="Beamer neustarten">	<i class="icon-repeat"></i></a>
		    <a class="btn" href="<%= url_for projector %>" data-confirm="Bist du sicher?" data-method="delete" rel="nofollow"												 title="Beamer löschen">	<i class="icon-trash"></i></a>
		  </div>
		  <% end %>
		</div>		
    </td>
  </tr>
<% end %>
</table>

<% if @write_right then %>
<br />
<%= link_to 'Neuer Beamer', new_projector_path %>
<% end %>
