    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">V-Tool</a>
          <form class="navbar-search pull-right" action="<%= url_for :controller => "slides", :action => "index" %>">
			  <input type="text" class="search-query span2" placeholder="Suchen" name="search">
		  </form>
		  <p class="navbar-text pull-right" id="menu-state" style="color: red; text-decoration: blink;">
              <noscript>Javascript wird benötigt!</noscript> 
          </p>
          <div class="nav-collapse collapse">
            <ul class="nav">
            <%[
            	{:text => "Home", :controller => "home", :action => "index"},
            	{:text => "Tagesordnung", :controller => "items", :action => "index"},
            	{:text => "Beamer", :controller => "projectors", :action => "index"},
            	{:text => "Folien", :controller => "slides", :action => "index"},
            	{:text => "Timer", :controller => "timers", :action => "index"}
            ].each { |e| %> 
            		<li<%= ' class="active"'.html_safe if controller.controller_name == e[:controller] and (controller.action_name == e[:action] or controller.controller_name != "home") %>><%= link_to e[:text], :controller => e[:controller], :action => e[:action] %></li>
            	<% }
            %>
            <% if @current_user then %>
            <li class="dropdown">
			  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
			    Admin
			    <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
			  	<%[
            	{:text => "User", :controller => "users", :action => "index"},
            	{:text => "Administration", :controller => "admin", :action => "index"},
            	{:text => "Debugger", :controller => "home", :action => "debug"}
	            ].each { |e| %>
	            		<li><%= link_to e[:text], :controller => e[:controller], :action => e[:action] %></li>
	            	<% }
	            %>
	            <li><%= link_to "Logout", :controller => "users", :action => "user_login", :out => true %></li>
			  </ul>
			</li>
			<% else %>
				<li><%= link_to "Login", :controller => "users", :action => "user_login" %></li>
			<% end %>
            </ul>
          </div>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
            	<li class="dropdown"><%= @menu_cmd_link %></li>
            	<li><%= @menu_edit_link%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript" charset="utf-8">
  $('.dropdown-toggle').dropdown();
  <% if @load_push then %>
	document.getElementById("menu-state").innerHTML= "Verbinde . . . ";
	window.setTimeout('CheckVerbindung()',3000);
	push.on("connect", function(){	document.getElementById("menu-state").innerHTML= "";});
	push.on("disconnect", function(){document.getElementById("menu-state").innerHTML= "Verbindung verloren";});
	push.on("reconnect", function(){ document.getElementById("menu-state").innerHTML= "";});
  <% end %>
</script>